//sass --watch views/sass:public/css/
$body-text-color: #444;
$link-color: blue;
$bg-color: #ccc;
$win-color: green;
$fail-color: red;

//Font sizes
$normal: 12px;
$big: 14px;
$bigger: 16px;
$small: 10px;
$break: $normal;

body{
  background: $bg-color;
  color: $body-text-color;
}