@import compass
$body-text-color: #aaa
$fc-link: hsl(217, 81%, 62%)
$bg-color: #333
$bgc: $bg-color
$win-color: green
$fail-color: red

//Font sizes
$normal: 12px
$big: 14px
$bigger: 16px
$small: 10px
$break: $normal

$bc_highlight: #fff //rgba(255,255,255,.4)
$bc_lowlight: #888 //rgba(0,0,0,.4)
html,body
  height: 100%
html
  background-attachment: fixed
  +background-image(linear-gradient(darken($bgc,20%) 2%,$bgc 4%,  $bgc 40%, darken($bgc,10%) 100%))
  background-repeat: no-repeat
body
  color: $body-text-color
