@import url(_base.scss);

@mixin clearfix{
  zoom: 1;
  &:after{
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}

@mixin debug{
  a[href='']{
    outline: red;
  }
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin reset{
  margin: 0;
  padding: 0;
  border: 0;
  color: $body-text-color;
}

@mixin reset-list{
  @include reset;
  & li{
    @include reset;
    list-style:none;
  }
}
.win{color:$win-color;}
.fail{color: $fail-color;}
    