@import _base
@import _util

#menu
	position: fixed
	left: 0
	top: 0
	padding: 10px 5px
	width: 140px
	input
		max-width: 100%
	input[type=number]
		width: 3.4em

.showAll
	text-decoration: none
	color: #999 !important
	&.on
		color: #fff !important

#layers
	padding: 10px 5px
	position: fixed
	right: 0
	top: 0
	white-space: nowrap
	
.changeLayer
	margin: 0 0 1px
	width: 22px
	height: 22px
	display: inline-block
	text-decoration: none
	&.on
		outline: 1px solid yellow

#x,#y
	width: 60px
	//width: 100%


	//-webkit-appearance: slider-vertical
	//height: 100%