{% extends 'master.html'}
{% block body%}
<nav id="nav2">
	<a href="/"><b>Pixel Puzzle</b></a>
	<div class="pull-right">
		<a href="/">Browse(TODO)</a>
		<a href="/level/edit">Create</a>
		<a href="/user/read" class="pull-right">My puzzles</a>
	</div>
</nav>
<p>Pixel Puzzle is a game where you reveal a picture by solving a Su Do Ku like puzzle based on <a href="http://en.wikipedia.org/wiki/Nonogram">nonograms</a>, popularized by the nintendo game <a href="http://en.wikipedia.org/wiki/Picross_DS">Picross DS</a>
</p>
<p>Think Minesweeper plus Su Do Ku</p>

{% endblock %}