<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{{title}}</title>
	{% block meta %}{% endblock %}
	<link rel="stylesheet" href="/public/css/application.css"/>
	<link rel="stylesheet" href="/public/css/smoothness/jquery-ui.css"/>
	
	<!--todo shiv-->
	{% block head %}{% endblock %}
</head>
<body>
	<div id="page">
		<nav id="nav">
			<a href="/"><b>Pixel Puzzle</b></a>
			<div class="pull-right">
				<a href="">Browse</a>
				<a href="/level/edit">Create</a>
				<a href="/user/read" class="pull-right">My puzzles</a>
			</div>
		</nav>
		<div id="body">
			{% block body %}
			{% endblock %}
		</div>
		<footer id="footer">&copy; 2010-present Jethro Larson</footer>
	</div>
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/util.js"></script>
	{% block scripts %}{% endblock %}
</body>
</html>
