*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: #333;
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #aaa;
}

a { color: #508ced; }
a:visited { color: #2b74e9; }
a:hover { color: #75a4f0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="text"],
input[type="number"] {
  border-radius: 4px;
  border: 1px solid #666;
  padding: 3px 6px;
  background: #222;
  color: #eee;
}

input[type="number"] { width: 4em; }

input[type="color"] {
  width: 32px;
  height: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
}

button { cursor: pointer; }

/* Game UI */
#page { margin: 0; padding: 0; }

#menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 5px;
  width: 140px;
}

#menu input { max-width: 100%; }

#layers {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 5px;
  white-space: nowrap;
}

.changeLayer {
  margin: 0 0 1px;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-decoration: none;
}

.changeLayer.on { outline: 2px solid yellow; }

/* Edit form */
.field { padding: 4px 0; }
