/* line 37, ../../sass/_util.sass */
.win {
  color: green;
}

/* line 40, ../../sass/_util.sass */
.fail {
  color: red;
}

/* line 3, ../../sass/_set.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ========================================================== */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
/* line 21, ../../sass/_set.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 24, ../../sass/_set.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 29, ../../sass/_set.sass */
audio:not([controls]) {
  display: none;
}

/* line 32, ../../sass/_set.sass */
[hidden] {
  display: none;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
/* line 44, ../../sass/_set.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, ../../sass/_set.sass */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 55, ../../sass/_set.sass */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 59, ../../sass/_set.sass */
input[type=text],
input[type=color],
input[type=number] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #777777 #666666 #444444;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(179, 179, 179, 0.4);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(179, 179, 179, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(179, 179, 179, 0.4);
  padding: 3px 6px;
}

/* line 67, ../../sass/_set.sass */
input[type=number] {
  width: 30px;
}

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design) */
/* line 75, ../../sass/_set.sass */
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* line 80, ../../sass/_set.sass */
::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* =============================================================================
 * Links
 * ========================================================================== */
/* line 89, ../../sass/_set.sass */
a {
  color: #508ced;
}

/* line 92, ../../sass/_set.sass */
a:visited {
  color: #2b74e9;
}

/* line 95, ../../sass/_set.sass */
a:hover {
  color: #75a4f0;
}

/* line 98, ../../sass/_set.sass */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 102, ../../sass/_set.sass */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
 * Typography
 * ========================================================================== */
/* line 109, ../../sass/_set.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 112, ../../sass/_set.sass */
b, strong {
  font-weight: bold;
}

/* line 115, ../../sass/_set.sass */
blockquote {
  margin: 1em 40px;
}

/* line 118, ../../sass/_set.sass */
dfn {
  font-style: italic;
}

/* line 121, ../../sass/_set.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 129, ../../sass/_set.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 134, ../../sass/_set.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 141, ../../sass/_set.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 147, ../../sass/_set.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 152, ../../sass/_set.sass */
q {
  quotes: none;
}

/* line 155, ../../sass/_set.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 159, ../../sass/_set.sass */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 163, ../../sass/_set.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../../sass/_set.sass */
sup {
  top: -0.5em;
}

/* line 172, ../../sass/_set.sass */
sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
/* line 179, ../../sass/_set.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 183, ../../sass/_set.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 186, ../../sass/_set.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e */
/* line 200, ../../sass/_set.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Correct overflow not hidden in IE9 */
/* line 208, ../../sass/_set.sass */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
/* line 215, ../../sass/_set.sass */
figure {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
/* line 222, ../../sass/_set.sass */
form {
  margin: 0;
}

/* line 225, ../../sass/_set.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 231, ../../sass/_set.sass */
label {
  cursor: pointer;
}

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7 */
/* line 238, ../../sass/_set.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers */
/* line 248, ../../sass/_set.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
/* line 257, ../../sass/_set.sass */
button, input {
  line-height: normal;
}

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6) */
/* line 265, ../../sass/_set.sass */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* Consistent box sizing and appearance */
/* line 273, ../../sass/_set.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 277, ../../sass/_set.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 283, ../../sass/_set.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 286, ../../sass/_set.sass */
input[type=color] {
  width: 4.4em;
}

/* Remove inner padding and border in FF3/4: h5bp.com/l */
/* line 292, ../../sass/_set.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing */
/* line 300, ../../sass/_set.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 308, ../../sass/_set.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
 * Tables
 * ========================================================================== */
/* line 315, ../../sass/_set.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 319, ../../sass/_set.sass */
td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
 * Author:
 * ========================================================================== */
/* ==|== media queries ======================================================
 * PLACEHOLDER Media Queries for Responsive Design.
 * These override the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ========================================================================== */
/* For image replacement */
/* line 343, ../../sass/_set.sass */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 354, ../../sass/_set.sass */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 358, ../../sass/_set.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 363, ../../sass/_set.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 374, ../../sass/_set.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 383, ../../sass/_set.sass */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 387, ../../sass/_set.sass */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 391, ../../sass/_set.sass */
.clearfix:after {
  clear: both;
}

/* line 394, ../../sass/_set.sass */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  /* line 403, ../../sass/_set.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 411, ../../sass/_set.sass */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 413, ../../sass/_set.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 415, ../../sass/_set.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 417, ../../sass/_set.sass */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 420, ../../sass/_set.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 423, ../../sass/_set.sass */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 426, ../../sass/_set.sass */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 428, ../../sass/_set.sass */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 433, ../../sass/_set.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 436, ../../sass/_set.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 3, ../../sass/_typo.sass */
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

/* line 9, ../../sass/_typo.sass */
h1 {
  font-size: 16px;
}

/* line 12, ../../sass/_typo.sass */
h2 {
  font-size: 14px;
}

/* line 15, ../../sass/_typo.sass */
h3 {
  font-size: 12px;
}

/* line 18, ../../sass/_typo.sass */
h4 {
  font-size: 10px;
}

/* line 21, ../../sass/_typo.sass */
small {
  font-size: 10px;
}

/* line 24, ../../sass/_typo.sass */
h1, h2, h3, h4, h5 {
  margin: 0 0 break;
}

/* line 27, ../../sass/_typo.sass */
p, ol, ul {
  margin: 6px 0 12px;
}

/* line 30, ../../sass/_typo.sass */
ul > li {
  margin-left: 10px;
}

/* line 37, ../../sass/_util.sass */
.win {
  color: green;
}

/* line 40, ../../sass/_util.sass */
.fail {
  color: red;
}

/* line 4, ../../sass/game_grid.sass */
#menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 5px;
  width: 140px;
}
/* line 10, ../../sass/game_grid.sass */
#menu input {
  max-width: 100%;
}
/* line 12, ../../sass/game_grid.sass */
#menu input[type=number] {
  width: 3.4em;
}

/* line 15, ../../sass/game_grid.sass */
#colHints {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
}
/* line 33, ../../sass/_util.sass */
#colHints li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
  list-style: none;
}
/* line 17, ../../sass/game_grid.sass */
#colHints li {
  display: inline-block;
}
/* line 19, ../../sass/game_grid.sass */
#colHints li.done div {
  text-decoration: line-through;
  color: #999999;
}
/* line 22, ../../sass/game_grid.sass */
#colHints li div {
  text-align: center;
}

/* line 25, ../../sass/game_grid.sass */
#rowHints {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
}
/* line 33, ../../sass/_util.sass */
#rowHints li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
  list-style: none;
}
/* line 27, ../../sass/game_grid.sass */
#rowHints li {
  white-space: nowrap;
  text-align: right;
}
/* line 30, ../../sass/game_grid.sass */
#rowHints li.done div {
  text-decoration: line-through;
  color: #999999;
}
/* line 33, ../../sass/game_grid.sass */
#rowHints li div {
  vertical-align: bottom;
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

/* line 39, ../../sass/game_grid.sass */
.showAll {
  text-decoration: none;
  color: #999999 !important;
}
/* line 42, ../../sass/game_grid.sass */
.showAll.on {
  color: white !important;
}

/* line 45, ../../sass/game_grid.sass */
#lose {
  color: red;
}

/* line 47, ../../sass/game_grid.sass */
#layers {
  padding: 10px 5px;
  position: fixed;
  right: 0;
  top: 0;
  white-space: nowrap;
}

/* line 54, ../../sass/game_grid.sass */
.changeLayer {
  margin: 0 0 1px;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-decoration: none;
}
/* line 60, ../../sass/game_grid.sass */
.changeLayer.on {
  outline: 1px solid yellow;
}

/* line 63, ../../sass/game_grid.sass */
#x, #y {
  width: 60px;
}

/**
 * Farbtastic Color Picker 1.2
 * © 2008 Steven Wittens
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
/* line 20, ../../sass/_farbtastic.scss */
.farbtastic {
  background-color: #000;
  position: relative;
}
/* line 23, ../../sass/_farbtastic.scss */
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
/* line 27, ../../sass/_farbtastic.scss */
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
/* line 32, ../../sass/_farbtastic.scss */
.farbtastic .color,
.farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
/* line 38, ../../sass/_farbtastic.scss */
.farbtastic .wheel {
  background: url(../farbtastic/wheel.png) no-repeat;
}
/* line 41, ../../sass/_farbtastic.scss */
.farbtastic .overlay {
  background: url(../farbtastic/mask.png) no-repeat;
}
/* line 44, ../../sass/_farbtastic.scss */
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(../farbtastic/marker.png) no-repeat;
}

/* line 9, ../../sass/application.sass */
html, body {
  height: 100%;
}

/* line 11, ../../sass/application.sass */
html {
  background-color: #333333;
}

/* line 16, ../../sass/application.sass */
body {
  color: #aaaaaa;
}

/* line 19, ../../sass/application.sass */
#page {
  margin: 0 auto;
  padding: 0;
}

/* line 23, ../../sass/application.sass */
#nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 32px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
/* line 33, ../../sass/application.sass */
#nav a {
  text-decoration: none;
  padding: 0 0 0 10px;
  float: left;
}
/* line 37, ../../sass/application.sass */
#nav .pull-right {
  float: right;
}
/* line 39, ../../sass/application.sass */
#nav .pull-right a {
  padding: 0 10px 0 0;
}

/* line 42, ../../sass/application.sass */
#picker {
  position: absolute;
}

/* line 45, ../../sass/application.sass */
.slider {
  width: 1.3em;
  text-align: center;
}

/* line 48, ../../sass/application.sass */
.sliderWidget {
  margin: 4px 10px;
  vertical-align: bottom;
  display: inline-block;
  width: 532px;
}

/* line 54, ../../sass/application.sass */
.field {
  padding: 4px 0;
}

/* line 57, ../../sass/application.sass */
input[type=color] {
  width: 32px;
  height: 30px;
}
