/* line 18, ../../sass/_base.sass */
body {
  background: #cccccc;
  color: #aaaaaa;
}

/* line 18, /Users/jlarson/gae/pixeljs/sass/_base.sass */
body {
  background: #cccccc;
  color: #aaaaaa;
}

/* line 37, ../../sass/_util.sass */
.win {
  color: green;
}

/* line 40, ../../sass/_util.sass */
.fail {
  color: red;
}

@-webkit-keyframes shake {
  /* line 7, ../../sass/game_grid.sass */
  0% {
    -webkit-transform: translate(2px, 1px);
  }

  /* line 10, ../../sass/game_grid.sass */
  10% {
    -webkit-transform: translate(-1px, -2px);
  }

  /* line 13, ../../sass/game_grid.sass */
  20% {
    -webkit-transform: translate(-3px, 0px);
  }

  /* line 16, ../../sass/game_grid.sass */
  30% {
    -webkit-transform: translate(0px, 2px);
  }

  /* line 19, ../../sass/game_grid.sass */
  40% {
    -webkit-transform: translate(1px, -1px);
  }

  /* line 22, ../../sass/game_grid.sass */
  50% {
    -webkit-transform: translate(-1px, 2px);
  }

  /* line 25, ../../sass/game_grid.sass */
  60% {
    -webkit-transform: translate(-3px, 1px);
  }

  /* line 28, ../../sass/game_grid.sass */
  70% {
    -webkit-transform: translate(2px, 1px);
  }

  /* line 31, ../../sass/game_grid.sass */
  80% {
    -webkit-transform: translate(-1px, -1px);
  }

  /* line 34, ../../sass/game_grid.sass */
  90% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 37, ../../sass/game_grid.sass */
  100% {
    -webkit-transform: translate(1px, -2px);
  }
}

@-moz-keyframes shake {
  /* line 41, ../../sass/game_grid.sass */
  0% {
    -moz-transform: translate(2px, 1px);
  }

  /* line 44, ../../sass/game_grid.sass */
  10% {
    -moz-transform: translate(-1px, -2px);
  }

  /* line 47, ../../sass/game_grid.sass */
  20% {
    -moz-transform: translate(-3px, 0px);
  }

  /* line 50, ../../sass/game_grid.sass */
  30% {
    -moz-transform: translate(0px, 2px);
  }

  /* line 53, ../../sass/game_grid.sass */
  40% {
    -moz-transform: translate(1px, -1px);
  }

  /* line 56, ../../sass/game_grid.sass */
  50% {
    -moz-transform: translate(-1px, 2px);
  }

  /* line 59, ../../sass/game_grid.sass */
  60% {
    -moz-transform: translate(-3px, 1px);
  }

  /* line 62, ../../sass/game_grid.sass */
  70% {
    -moz-transform: translate(2px, 1px);
  }

  /* line 65, ../../sass/game_grid.sass */
  80% {
    -moz-transform: translate(-1px, -1px);
  }

  /* line 68, ../../sass/game_grid.sass */
  90% {
    -moz-transform: translate(2px, 2px);
  }

  /* line 71, ../../sass/game_grid.sass */
  100% {
    -moz-transform: translate(1px, -2px);
  }
}

/* line 74, ../../sass/game_grid.sass */
.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.3s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 0.3s;
  -moz-transform-origin: 50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

/* line 86, ../../sass/game_grid.sass */
#game {
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
/* line 88, ../../sass/game_grid.sass */
#game table {
  width: 100%;
}
/* line 90, ../../sass/game_grid.sass */
#game #gridCell {
  width: 100%;
}

/* line 93, ../../sass/game_grid.sass */
#colHints {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
}
/* line 33, ../../sass/_util.sass */
#colHints li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
  list-style: none;
}
/* line 95, ../../sass/game_grid.sass */
#colHints li {
  display: inline-block;
}
/* line 97, ../../sass/game_grid.sass */
#colHints li.done div {
  text-decoration: line-through;
  color: #999999;
}
/* line 100, ../../sass/game_grid.sass */
#colHints li div {
  text-align: center;
}

/* line 103, ../../sass/game_grid.sass */
#rowHints {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
}
/* line 33, ../../sass/_util.sass */
#rowHints li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
  list-style: none;
}
/* line 105, ../../sass/game_grid.sass */
#rowHints li {
  white-space: nowrap;
  text-align: right;
}
/* line 108, ../../sass/game_grid.sass */
#rowHints li.done div {
  text-decoration: line-through;
  color: #999999;
}
/* line 111, ../../sass/game_grid.sass */
#rowHints li div {
  vertical-align: bottom;
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

/* line 117, ../../sass/game_grid.sass */
#score, #par {
  white-space: nowrap;
}

/* line 120, ../../sass/game_grid.sass */
#win {
  position: absolute;
  /*width/height set in js */
  display: none;
  color: green;
  text-align: center;
  font-size: 60px;
}

/* line 128, ../../sass/game_grid.sass */
#lose {
  color: red;
}

/* line 131, ../../sass/game_grid.sass */
#grid {
  float: left;
  zoom: 1;
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
  cursor: move;
  background: #dddddd;
  border: 1px solid;
  border-color: white #888888 #888888 white;
}
/* line 5, ../../sass/_util.sass */
#grid:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
/* line 33, ../../sass/_util.sass */
#grid li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #aaaaaa;
  list-style: none;
}
/* line 139, ../../sass/game_grid.sass */
#grid.dragging {
  cursor: -moz-grabbing;
}
/* line 141, ../../sass/game_grid.sass */
#grid li {
  float: left;
  text-align: center;
  width: 40px;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  border-color: white #888888 #888888 white;
  line-height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 153, ../../sass/game_grid.sass */
#grid li a {
  text-decoration: none;
  display: block;
  text-align: center;
}
/* line 157, ../../sass/game_grid.sass */
#grid li:hover {
  outline: 2px solid #ffffaa;
  border: 1px #999999 solid;
}
/* line 160, ../../sass/game_grid.sass */
#grid .show {
  background: #dddddd;
}
/* line 162, ../../sass/game_grid.sass */
#grid .mark {
  background: url(../images/flag_red.png) no-repeat center center;
}
/* line 164, ../../sass/game_grid.sass */
#grid .on, #grid.paint {
  -webkit-transition: background-color 0.25s linear;
  background: #88aadd;
}
/* line 167, ../../sass/game_grid.sass */
#grid .error {
  background-image: url(../images/cross.png);
  opacity: 0.8;
}

@media only screen and (max-device-width: 1024px), only screen and (max-device-width: 480px) {
  /* line 172, ../../sass/game_grid.sass */
  #grid li:hover {
    outline: 0;
    border: none;
  }
}
