/* line 18, ../../sass/_base.sass */
body {
  background: #cccccc;
  color: #444444;
}

/* line 18, ../../sass/_base.sass */
body {
  background: #cccccc;
  color: #444444;
}

/* line 37, ../../sass/_util.sass */
.win {
  color: green;
}

/* line 40, ../../sass/_util.sass */
.fail {
  color: red;
}

/* line 8, ../../sass/game_grid.sass */
#game {
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
/* line 10, ../../sass/game_grid.sass */
#game table {
  width: 100%;
}
/* line 12, ../../sass/game_grid.sass */
#game #gridCell {
  width: 100%;
}

/* line 14, ../../sass/game_grid.sass */
#colHints {
  margin: 0;
  padding: 0;
  border: 0;
  color: #444444;
}
/* line 33, ../../sass/_util.sass */
#colHints li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #444444;
  list-style: none;
}
/* line 16, ../../sass/game_grid.sass */
#colHints li {
  display: inline-block;
}
/* line 18, ../../sass/game_grid.sass */
#colHints li.done div {
  text-decoration: line-through;
  color: #aaaaaa;
}
/* line 21, ../../sass/game_grid.sass */
#colHints li div {
  text-align: center;
}

/* line 24, ../../sass/game_grid.sass */
#rowHints {
  margin: 0;
  padding: 0;
  border: 0;
  color: #444444;
}
/* line 33, ../../sass/_util.sass */
#rowHints li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #444444;
  list-style: none;
}
/* line 26, ../../sass/game_grid.sass */
#rowHints li {
  white-space: nowrap;
  text-align: right;
}
/* line 29, ../../sass/game_grid.sass */
#rowHints li.done div {
  text-decoration: line-through;
  color: #aaaaaa;
}
/* line 32, ../../sass/game_grid.sass */
#rowHints li div {
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

/* line 37, ../../sass/game_grid.sass */
#win,
#lose {
  position: absolute;
  /*width/height set in js */
  display: none;
  color: green;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* line 46, ../../sass/game_grid.sass */
#lose {
  color: red;
}

/* line 49, ../../sass/game_grid.sass */
#grid {
  float: left;
  zoom: 1;
  margin: 0;
  padding: 0;
  border: 0;
  color: #444444;
  cursor: move;
  background: #dddddd;
  border: 1px solid;
  border-color: white #888888 #888888 white;
}
/* line 5, ../../sass/_util.sass */
#grid:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
/* line 33, ../../sass/_util.sass */
#grid li {
  margin: 0;
  padding: 0;
  border: 0;
  color: #444444;
  list-style: none;
}
/* line 57, ../../sass/game_grid.sass */
#grid.dragging {
  cursor: -moz-grabbing;
}
/* line 59, ../../sass/game_grid.sass */
#grid li {
  float: left;
  text-align: center;
  width: 40px;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  border-color: white #888888 #888888 white;
  line-height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 71, ../../sass/game_grid.sass */
#grid li a {
  text-decoration: none;
  display: block;
  text-align: center;
}
/* line 75, ../../sass/game_grid.sass */
#grid li:hover {
  opacity: 0.8;
}
/* line 77, ../../sass/game_grid.sass */
#grid .show {
  background: #dddddd;
}
/* line 79, ../../sass/game_grid.sass */
#grid .mark {
  background: url(../images/flag_red.png) no-repeat center center;
}
/* line 81, ../../sass/game_grid.sass */
#grid .on, #grid.paint {
  -webkit-transition: background-color 0.25s linear;
  background: #88aadd;
}
/* line 84, ../../sass/game_grid.sass */
#grid .error {
  background-image: url(../images/cross.png);
  opacity: 0.8;
}

/* line 89, ../../sass/game_grid.sass */
#lives {
  color: green;
}
/* line 91, ../../sass/game_grid.sass */
#lives.fail {
  color: red;
}
