{% extends "../master.html" %}
{%block body%}
<form action="/level/create" method="post">
	<!-- in session: uid -->
	<div class="field">
		<input name="levelSetName" value="My Levels" type="text"/><!--COMBOBOX-->
	</div>
	<div class="field"><input name="game"    type="text" placeholder="Game Grid Bits"/></div>
	<div class="field"><input name="x"       type="number" min="0" max="20" placeholder="width"/></div>
	<div class="field"><input name="y"       type="number" min="0" max="20" placeholder="height"/></div>
	<div class="field"><input name="Title"   type="text" placeholder="Hint"/></div>
	<div class="field"><input name="fgcolor" type="color" placeholder="Foreground Color" /></div>
	<div class="field"><input name="bgcolor" type="color" placeholder="Background Color" /></div>
	<button type="submit">Create Level</button>
</form>
{%endblock%}