{% extends "../master.html" %}
{% block body%}
<script>
var level = {{level}};
</script>
<div id="game">
  <table>
    <tr>
      <td></td>
      <td>
        <ul id="colHints"></ul>
      </td>
    </tr>
    <tr>
      <td>
        <ul id="rowHints"></ul>
      </td>
      <td>
        <div id="win">You Win! :)</div>
        <div id="lose">You Lose :(</div>
        <ul id="grid"></ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td id="lives" class="win"></td>
    </tr>
  </table>
  <ul id="games"></ul>
</div>
{%endblock%}